---
import type { MarkdownLayoutProps } from "astro";
import Main from "./Main.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;

type Props = MarkdownLayoutProps<{
    title: string;
    subtitle: string;
    poster: string;
}>;

const { title, subtitle, poster } = Astro.props.frontmatter;
---

<!-- Sanyi: subtitles become descriptions -->
<Main title={frontmatter.title} description={frontmatter.subtitle}>
    <figure class="figure">
        <img
            src={frontmatter.poster}
            alt={frontmatter.title}
            width="720"
            height="480"
            class="figure__img"
        />
        <figcaption class="figure__figcaption">
            The image of {frontmatter.title}
        </figcaption>
    </figure>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.subtitle}</p>
    <slot />
</Main>

<style>
    .figure__img {
        object-fit: cover;
        width: 100%;
    }

    .figure__figcaption {
        margin-bottom: 2rem;
        font-size: 0.9rem;
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: 2rem;
    }
</style>
